@import "../../../css-config/colors.scss";
@import "../../../css-config/mixins.scss";

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  z-index: 80;
  .mobile-bg {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 70;
    transition: all 0.3s ease;
  }
  .mobile-content {
    width: 40%;
    height: 100%;
    background: #fff;
    position: relative;
    display: flex;
    padding: 20px 20px 30px 20px;
    flex-direction: column;
    transform: translateX(100%);
    animation: showMenuMobile 0.3s ease forwards;
    z-index: 80;
    &.showmenu {
      transform: translateX(0%);
      animation: showMenuMobile 0.3s ease forwards;
    }
    &__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 30px;
      margin-bottom: 30px;
      .logo {
        font-size: 25px;
        font-weight: 600;
        color: $green-3;
      }
    }
    .mobile-nav {
      &__adv {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        background: $green-light;
        padding: 0px 20px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        margin-bottom: 20px;
        span {
          font-size: 18px;
          font-weight: 600;
          color: $black;
        }
        img {
          width: 30%;
        }
      }
      &__item {
        margin-bottom: 20px;
        a {
          color: $black;
          font-weight: 600;
          //   font-size: 17px;
        }
      }
    }
  }
}

@include lg {
  .mobile-menu .mobile-content {
    width: 50%;
  }
}

@include md {
  .mobile-menu .mobile-content {
    width: 100%;
  }
}

@keyframes showMenuMobile {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
