@import "../../../css-config/colors.scss";

.offer {
  display: none;
  height: 100px;
  &-nav {
    display: flex;
    align-items: center;
    gap: 20px;
    li {
      &:hover {
        a {
          color: $green-3;
        }
      }
    }
    a {
      color: $gray-1;
      font-size: 15px;
    }
  }
}
