@import "../../css-config/colors.scss";

.heading {
  position: relative;
  background: $gray-2;
  padding: 17px 30px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__main {
      display: flex;
      align-items: center;
      gap: 30px;
    }
    &__catalog {
      display: flex;
      align-items: center;
      gap: 15px;
      .logo {
        font-size: 25px;
        font-weight: 600;
        color: $green-3;
      }
      .catalog-btn {
        display: flex;
        align-items: center;
        gap: 10px;
        color: $white;
        font-weight: 600;
        background: $green-3;
        padding: 10px 20px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        cursor: pointer;
      }
    }
    &__search {
      display: flex;
      align-items: center;
      gap: 30px;
      .search-nav {
        display: flex;
        align-items: center;
        gap: 40px;
        &__item {
          a {
            color: $gray-1;
          }
          &:hover {
            a {
              color: $green-3;
            }
          }
        }
      }
    }
    &__icons {
      display: flex;
      align-items: center;
      gap: 30px;
      &-item {
        position: relative;
        cursor: pointer;
        .count {
          position: absolute;
          top: -15px;
          right: -15px;
          color: #fff;
          width: 20px;
          height: 20px;
          padding: 10px;
          font-size: 12px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: $green-3;
          border-radius: 30px;
          -webkit-border-radius: 30px;
          -moz-border-radius: 30px;
          -ms-border-radius: 30px;
          -o-border-radius: 30px;
        }
        &:hover {
          svg {
            transform: scale(1.1);
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
            -o-transform: scale(1.1);
          }
        }
      }
    }
  }
  // .menu-block {
  //   position: relative;
  // }
}
