@import "../../css-config/colors.scss";
@import "../../css-config/mixins.scss";

.heading {
  position: relative;
  padding: 17px 30px;
  margin-bottom: 30px;
  width: 100%;
  transition: all 0.3s ease;
  &.scrolling {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    // backdrop-filter: blur(20px);
    // box-shadow: rgba(6, 5, 50, 0.1) 0px 4px 30px;
    animation: stickyHeaderAnimation 0.3s ease forwards;
    z-index: 20;
    .heading-wrapper {
      box-shadow: rgba(6, 5, 50, 0.1) 0px 4px 30px;
    }
  }
  &-wrapper {
    background: $gray-2;
    padding: 15px 30px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__main {
      display: flex;
      align-items: center;
      gap: 30px;
    }
    &__catalog {
      display: flex;
      align-items: center;
      gap: 15px;
      .logo {
        font-size: 25px;
        font-weight: 600;
        color: $green-3;
      }
      .catalog-btn {
        display: flex;
        align-items: center;
        gap: 10px;
        color: $white;
        // font-weight: 600;
        font-size: 18px;
        background: $green-3;
        padding: 15px 30px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        cursor: pointer;
        .menu_icon {
          display: flex;
          flex-direction: column;
          row-gap: 2px;
          width: 25px;
          cursor: pointer;
          &.active-btn {
            div:first-child {
              background-color: $white;
              transform: rotate(42deg) translate(9px, 6.2px);
              -webkit-transform: rotate(42deg) translate(9px, 6.2px);
              -moz-transform: rotate(42deg) translate(9px, 6.2px);
              -ms-transform: rotate(42deg) translate(9px, 6.2px);
              -o-transform: rotate(42deg) translate(9px, 6.2px);
            }
            div:nth-child(2) {
              opacity: 0;
            }
            div:last-child {
              background-color: $white;
              transform: rotate(-42deg) translate(6px, -2.2px);
              -webkit-transform: rotate(-42deg) translate(6px, -2.2px);
              -moz-transform: rotate(-42deg) translate(6px, -2.2px);
              -ms-transform: rotate(-42deg) translate(6px, -2.2px);
              -o-transform: rotate(-42deg) translate(6px, -2.2px);
            }
          }
          div {
            margin-bottom: 4px;
            height: 2px;
            background-color: $white;
            border-radius: 1px;
            transition: 0.2s;
            &:hover {
              transition: 0.2s;
            }
          }
        }
      }
      .mobile-icon {
        display: none;
        align-items: center;
        justify-content: center;
        width: 45px;
        height: 45px;
        background: $green-3;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
      }
    }
    &__search {
      display: flex;
      align-items: center;
      gap: 30px;
      .search-nav {
        display: flex;
        align-items: center;
        gap: 40px;
        &__item {
          a {
            color: $gray-1;
          }
          &:hover {
            a {
              color: $green-3;
            }
          }
        }
      }
    }
    &__icons {
      display: flex;
      align-items: center;
      gap: 20px;
      &-item {
        position: relative;
        cursor: pointer;
        width: 40px;
        height: 40px;
        background: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        .count {
          position: absolute;
          top: -6px;
          right: -10px;
          color: #fff;
          width: 20px;
          height: 20px;
          padding: 10px;
          font-size: 12px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: $green-3;
          border-radius: 30px;
          -webkit-border-radius: 30px;
          -moz-border-radius: 30px;
          -ms-border-radius: 30px;
          -o-border-radius: 30px;
        }
        &:hover {
          svg {
            transform: scale(1.1);
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
            -o-transform: scale(1.1);
          }
        }
      }
    }
  }
}

@include xl {
  .heading {
    &-wrapper {
      &__main {
        width: 100%;
      }
      &__icons {
        display: none;
      }
      &__search {
        display: none;
      }
      &__catalog {
        .catalog-btn {
          display: none;
        }
        .mobile-icon {
          display: flex;
        }
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
      }
    }
  }
}

@keyframes stickyHeaderAnimation {
  0% {
    transform: translateY(-80px);
  }
  100% {
    transform: translateY(0);
  }
}
