@import "../../css-config/colors.scss";
@import "../../css-config/mixins.scss";

.top {
  padding: 10px 0 0px 0;
  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__city {
      display: flex;
      align-items: center;
      gap: 5px;
    }
    &__nav {
      display: flex;
      align-items: center;
      gap: 10px;
      &-item {
        padding: 10px;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        a {
          color: $gray-1;
        }
        &:hover {
          background: $gray-3;
          border-radius: 10px;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          -ms-border-radius: 10px;
          -o-border-radius: 10px;
        }
      }
    }
  }
}

@include xl {
  .top {
    display: none;
  }
}
