@import "../../css-config/colors.scss";
@import "../../css-config/mixins.scss";

.footer {
  margin-top: 200px;
  margin-bottom: 20px;
  &-wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 80px 50px;
    background: $gray-3;
    border-radius: 10px;
    height: 350px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    &__left {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 100px;
      .logo {
        margin-bottom: 30px;
        font-size: 25px;
        font-weight: 600;
        color: $green-3;
      }
      .navigation {
        display: flex;
        gap: 40px;
        li {
          margin-bottom: 20px;
          &:hover {
            a {
              color: $green-3;
            }
          }
          a {
            color: $gray-1;
          }
        }
      }
    }
    &__right {
      width: 60%;
      img {
        width: 50%;
        right: 0px;
        bottom: -70px;
        position: absolute;
        transform: scale(-1, 1);
        -webkit-transform: scale(-1, 1);
        -moz-transform: scale(-1, 1);
        -ms-transform: scale(-1, 1);
        -o-transform: scale(-1, 1);
      }
    }
  }
}

@include xl {
  .footer {
    margin-top: 0;
    &-wrapper {
      padding: 40px 20px;
      &__right {
        img {
          width: 35%;
          bottom: -40px;
        }
      }
    }
  }
}
@include md {
  .footer {
    margin-top: 0;
    &-wrapper {
      height: 100%;
      &__right {
        display: none;
      }
      &__left {
        // flex-direction: column;
        width: 100%;
        justify-content: space-between;
        gap: 15px;
      }
    }
  }
}

@include sm {
  .footer {
    &-wrapper {
      &__left {
        flex-direction: column;
        gap: 30px;
        .connect {
          text-align: center;
          width: 100%;
          .logo {
            font-size: 30px;
          }
          .main-button {
            width: 100%;
          }
        }
      }
    }
  }
}
