@import "../../css-config/colors.scss";
@import "../../css-config/mixins.scss";

.cat-item {
  // height: 600px;
  margin-bottom: 80px;
  &__text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
    .title {
      font-size: 45px;
      color: $black;
      font-weight: 500;
    }
    .subtitle {
      width: 270px;
      text-wrap: balance;
      font-weight: 500;
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $green-3;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    &:after {
      color: $white;
      font-size: 25px;
    }
  }
  .swiper-button-prev {
    left: 0;
  }
}

@include lg {
  .cat-item {
    &__text {
      gap: 10px;
      .title {
        line-height: 47px;
      }
    }
    .swiper-backface-hidden .swiper-slide {
      flex-shrink: 1;
    }
  }
}

@include md {
  .cat-item {
    &__text {
      gap: 10px;
      .title {
        font-size: 35px;
      }
      .subtitle {
        display: none;
      }
    }
  }
}

@include sm {
  .cat-item {
    &__text {
      flex-direction: column;
    }
  }
}
