@import "../../css-config/colors.scss";

.cat-item {
  height: 600px;
  margin-bottom: 100px;
  &__text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    .title {
      font-size: 45px;
      color: $black;
      font-weight: 500;
    }
    .subtitle {
      width: 270px;
      text-wrap: balance;
      font-weight: 500;
    }
  }
  .cat-slide {
    background: $gray-3;
    width: 290px;
    padding: 0px 15px 15px 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    &__top {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
    }
    &__bottom {
      display: flex;
      flex-direction: column;
      gap: 18px;
      .rating {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-star {
          display: flex;
          align-items: center;
          gap: 5px;
        }
      }
      .title {
        color: $black;
        font-weight: 500;
        font-size: 17px;
        margin-bottom: 5px;
      }
      .price {
        display: flex;
        align-items: center;
        justify-content: space-between;
        span {
          font-size: 30px;
          font-weight: 500;
          color: $black;
        }
        &-btn {
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 10px;
          background: $white;
          width: 40px;
          height: 40px;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          -ms-border-radius: 10px;
          -o-border-radius: 10px;
          cursor: pointer;
          &:hover {
            svg {
              transform: scale(1.1);
              -webkit-transform: scale(1.1);
              -moz-transform: scale(1.1);
              -ms-transform: scale(1.1);
              -o-transform: scale(1.1);
            }
          }
        }
      }
    }
  }
}
