@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "./css-config/mixins.scss";
@import "./css-config/colors.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 22px;
  color: $gray-1;
  font-family: "Roboto", sans-serif;
  width: 100%;
}

// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
//     monospace;
// }

.container {
  max-width: 1350px;
  margin: 0 auto;
  @include xl {
    max-width: 1024px;
    padding: 0 15px;
  }
  @include lg {
    max-width: 858px;
    padding: 0 15px;
  }
  @include md {
    max-width: 640px;
    padding: 0 15px;
  }
  @include sm {
    max-width: 100%;
  }
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
